<div class="w-100">
  <ng-container *ngIf="paises.length;else losPaisesNoEstanAun">
    <div class="d-flex form-floating" [style.display]="bloquear?'none!important':'block'">

      <input class="d-block" type="text" placeholder="Filtrar" class="form-control" [(ngModel)]="filtrado" id="floatingFiltrar">
      <label for="floatingFiltrar">Filtrar</label>
      <button class="btn btn-outline-danger" (click)="this.filtrado = ''">Borrar</button>
    </div>
    <table class="table table-sm table-light">
      <thead>
        <tr>
          <th scope="col" class="nombre">Nombre pais</th>
          <th scope="col" >Bandera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of paises" (dblclick)="enviarPais(pais)">
          <ng-container *ngIf="filtrado == '' || filtradoFuncion(pais)">
            <td>{{pais.translations.spa.common}}</td>
            <td><img [src]="pais.flags.svg" class="w-100"></td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #losPaisesNoEstanAun>
    <div class="border rounded-3 px-2 py-5 text-info">
      <h3 class="text-center">Los paises se están cargando</h3>
      <div class="text-center">
        <div class="spinner-border "></div>
      </div>
    </div>
  </ng-template>

</div>
