<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-absolute vw-100"> -->
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="./../../../favicon.ico" alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/busqueda" routerLinkActive="active">Busqueda</a>
        </li> -->

        <li>
          <ul class="navbar-nav" routerLinkActive="active">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"data-bs-toggle="dropdown" aria-expanded="false">Actores</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" routerLinkActive="active" routerLink="/actor/alta">Alta</a></li>
                <li><a class="dropdown-item" routerLinkActive="active" routerLink="/actor/actorpelicula">Actor/Pelicula</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"data-bs-toggle="dropdown" aria-expanded="false">Peliculas</a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" routerLinkActive="active" routerLink="/pelicula/alta">Alta</a></li>
              </ul>
            </li>

          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
