<div class="container">
	<div class="avatar">
		<a routerLink="/home" routerLinkActive="active">
			<img src="../../../assets//cine.png" alt="Cine" />
		</a>
	</div>
	<div class="content">
		<h1>Cinematic</h1>
		<!-- <p>Follow me on:</p>
		<p>
			<span><a href="https://twitter.com/MDesignsuk" target="_blank"><i class="fa fa-twitter"></i></a></span>
			<span><a href="https://github.com/Mario-Duarte/" target="_blank"><i class="fa fa-github"></i></a></span>
			<span><a href="https://bitbucket.org/Mario_Duarte/" target="_blank"><i class="fa fa-bitbucket"></i></a></span>
			<span><a href="https://codepen.io/MarioDesigns/" target="_blank"><i class="fa fa-codepen"></i></a></span>
		</p> -->
		<p>BY: Luis Andaur</p>
	</div>
</div>
